{% extends 'appCotacao/base.html' %}
{% load customtags %}
{% block content %}

<style>
  /* Para Chrome, Safari, Edge (baseado em Chromium) */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Para Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
  .title {
    color: #5C6AC4;
  }
  
</style>

<div id="alerta-proposta-incompleta" class="alert alert-danger" role="alert" style="display:none">
    Favor responder as proposta!
  </div>

<form method="post" id="meuFormulario">
  {% csrf_token %}
  {{ formset.management_form }}

    {% for form in formset %}
    {# Assumindo que a ordem dos formulários corresponde à ordem dos objetos em "cotacoes" #}
    {% with cotacao=form.cotacao %}
    

    <div class="card mb-2">
      <div class="card-header">
        <strong>{{cotacao.produto}}</strong>
        <span >({{cotacao.lances_old.all|length}}/{{ cotacao.qtd_max_lances }})</span>
        <span >
          
          {{cotacao.get_status_display}}</span>
      </div>
      <div class="card-body p-0">
      {{form.cotacao_id}}


        <table class="table table-sm mb-0" name="c-{{cotacao.id}}">
          <thead class="table-secondary">
            <tr>
              <th scope="col" class="text-center">Lance</th>
              <th scope="col" class="text-center">Dono Proposta</th>
              <th scope="col" class="text-center">Custo Net</th>
              <th scope="col" class="text-center">Status</th>
            </tr>
          </thead>
          <tbody>
            
            {% for lance in cotacao.lances_old.all %}
              
                <tr >
                  <td class="text-center">{{ lance.sequencia }}º</td>
                  <td class="text-center"> {{ lance.dono }}</td>
                  <td class="text-center">{{ lance.preco }}</td>
                  <td class="text-center ">
                    <span> {{ lance.get_status_display }}</span></td>
                </tr>
            {% endfor %}

            {%if cotacao.status|exibir_proposta_contraproposta:user %}
              <tr id="novo-lance" {%if not cotacao.status == 0%} style="display: none;" {%endif%}>
                <td class="text-center">Novo</td>
                <td class="text-center">Eu</td>
                <td class="text-center">{{form.novo_custo}}</td>
                <td class="text-center"><span class="badge bg-warning text-dark">Pendente</span></td>
              </tr>
            {%else%}
            {% comment %} manter a compatibilidade de ter uma linha {% endcomment %}
              <tr style="display: none;">
                {% if cotacao.status == 2%}<td colspan="4"> {{form.novo_custo}}</td>{%endif%}</tr>
            {% endif %}


          </tbody>
        </table>
        {% comment %} {% if cotacao.status == 1 and cotacao.lances_old.last.dono != user%} {% endcomment %}
        {% if cotacao.status == 1 or cotacao.status == 2%}
          <div class="btn-group" role="group" aria-label="Basic radio toggle button group">

              <input type="radio" class="btn-check" name="c-{{cotacao.id}}" id="a-{{cotacao.id}}" autocomplete="off" value="ACEITO">
              <label class="btn btn-outline-success" for="a-{{cotacao.id}}">Aceitar</label>
          
              <input type="radio" class="btn-check" name="c-{{cotacao.id}}" id="r-{{cotacao.id}}" autocomplete="off" value="RECUSADO">
              <label class="btn btn-outline-danger" for="r-{{cotacao.id}}">recusar</label>
          </div>
          {%endif%}
      
        </div>
      </div>

    
    {% endwith %}
    {% endfor %}

    {% if tem_cotacao_aberta %}
    <div class="mt-2 container">
      <div class="row">
        <input class="btn btn-info pull-right" type="submit" value="Enviar" id="methodForm">
      </div>
    </div>
    {%endif%}

 </form>

<script>
  
   // Função que atualiza o status da penúltima linha e exibe ou oculta a última
   function atualizarStatusRadio() {
    // Seleciona todas as linhas do corpo da tabela
    var $linhas = $('table[name="' + this.name + '"] tbody tr');
    // Certifique-se de que existam pelo menos duas linhas
    if ($linhas.length < 2) return;
    
    // A penúltima linha é a que está na posição length - 2
    var $penultima = $linhas.eq($linhas.length - 2);
    // A última linha (a que queremos mostrar/ocultar)
    var $ultima = $linhas.last();
    // Verifica qual radio button está selecionado
    if (this.value == 'ACEITO') {
      ultimoPreco =  parseFloat($penultima.find('td:nth-child(3)').text().replace(',', '.'));
      $ultima.find('input[type="number"]').val(ultimoPreco);
      // Altera o status da penúltima linha para "Pendente"
      $penultima.find('td:last span').text('Aceito');
      $penultima.find('td:last span').attr('class', 'badge bg-success')
      // Oculta a última linha
      $ultima.hide();
    } else if (this.value == 'RECUSADO') {
      // Altera o status da penúltima linha para "Recusado"
      $penultima.find('td:last span').text('Recusado');
      $penultima.find('td:last span').attr('class', 'badge bg-danger')
      
      if ($ultima.attr('id')=='novo-lance'){
        // preciso identificar se é o ultimo lance
        $ultima.find('input[type="number"]').val(0);
        // Exibe a última linha
        $ultima.show();
      }else{
        // Não pode exibir a linha pois não é permitido uma contraproposta
        $ultima.find('input[type="number"]').val(999);
      }
      

    }
  }

  $(document).ready(function(){
    // Ao carregar a página, podemos definir eventos para os radio buttons
    // Atualiza a exibição quando um radio button é clicado
    $('input[type="radio"]').on('change', atualizarStatusRadio);
    
    // valida o meuFormulario
    $("#meuFormulario").submit(function (e) {
          let valido = true;
  
          $("input[type='number']").each(function () {
              if ($(this).val().trim() === "" || isNaN($(this).val())) {
                  valido = false;
              }
          });
  
          if (!valido) {
              $("#alerta-proposta-incompleta").show()
              e.preventDefault(); // Impede o envio do formulário
          }
      });
  });

</script>

 {% endblock %}