{% extends 'appCotacao/base.html' %}
{% load removespaces %}
{% block ativarangular %}ng-app="app"{% endblock %}
{% block content %}

<style>
  .ng-hide:not(.ng-hide-animate) {
    /* These are just alternative ways of hiding an element */
    display: block!important;
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
</style>

<div id="alerta-proposta-incompleta" class="alert alert-danger" role="alert" style="display:none">
    Favor responder as proposta!
  </div>

<form method="post" action="">
    <h1>{{ dados.projeto.nome }} / {{fornecedor}}</h1>

    {% csrf_token %}
    


    {% for cotacao in dados.cotacoes %}
    <div class="card mb-1" ang-cotacao-produto>
        <div class="card-header">
            {{cotacao.produto}} -
          <span id='status-card'>{{ cotacao.status }}</span>
          <span>{{cotacao.qtd_lances}} / {{ cotacao.qtd_max_lances }}</span>
        </div>

      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="text-center">Lance</th>
            <th scope="col" class="text-center">Dono Proposta</th>
            <th scope="col" class="text-center">Custo Net</th>
            <th scope="col" class="text-center">Status</th>
          </tr>
        </thead>
        <tbody>
          
          {% for lance in cotacao.lances %}
            
              <tr >
                <td class="text-center">{{ lance.lance }}</td>
                <td class="text-center"> {{ lance.user }}</td>
                <td class="text-center">{{ lance.preco }}</td>
                <td class="text-center"><span>{{ lance.status }}</span> </td>
              </tr>
          {% endfor %}

          {% if cotacao.acesso <= 3 %}

            <tr id="novo-lance" class="{{ cotacao.acesso }}" {% if cotacao.acesso.value <= 2%} 
              style="display:none;" {%endif%}>
              <td>Novo</td>
              <td>Eu</td>
              <td>
              <div id="entrada" class="input-group input-group-sm col-sm-10" style="width: 100px;">
                  <span class="input-group-text">$</span>
                  <input type="text" name="input-resposta-{{cotacao.id}}" class="form-control input-custo" pattern="^([0-9]+)(,[0-9]{1,2})?$"/>
              </div>
              </td>
              <td><span>Pendente</span></td>
            </tr>

            {% endif %}


        </tbody>
      </table>
      {% if cotacao.acesso <= 2 %}
        {% if cotacao.ultimo_lance != None %}
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="cotacao-{{cotacao.id}}" id="aceito-{{cotacao.id}}" autocomplete="off">
                <label class="btn btn-outline-success" for="aceito-{{cotacao.id}}">Aceitar</label>
            
                <input type="radio" class="btn-check" name="cotacao-{{cotacao.id}}" id="recusado-{{cotacao.id}}" autocomplete="off">
                <label class="btn btn-outline-danger" for="recusado-{{cotacao.id}}">recusar</label>
            </div>
        {% endif %}
      {% endif %}

    </div>

    {% endfor %}

    <div class="mt-2 container">
      <div class="row">
        <input class="btn btn-info pull-right" type="submit" value="Enviar" id="methodForm">
      </div>
    </div>
 </form>

<script>
  

  angular.module('app', [])
  .directive('angCotacaoProduto', function(){
    return {
      scope: {
        
      },
      link: function(scope, elem, attr){
          elem.find('span:contains(Pendente)').addClass("badge bg-warning text-dark")
          elem.find('span:contains(Aceito)').addClass("badge bg-success")
          elem.find('span:contains(Finalizado)').addClass("badge bg-success")
          elem.find('span:contains(Cotando)').addClass("badge bg-primary")

        elem.find('.btn-check').on('click', function(){
          let linha_nova_cotacao = elem.find('#novo-lance.podecotar')
          let status_proposta = elem.find('tr:eq(-2) > td:last > span')
          let input_custo =  elem.find('.input-custo')
          if($(this).attr('id').startsWith('recusado')){
            status_proposta.text('Recusado')
            linha_nova_cotacao.show()
            if(linha_nova_cotacao.length == 0){
              input_custo.val(999)
            }else{
            input_custo.val(0)}
            
          }else{
            let valor = elem.find('tr:eq(-2) > td:eq(-2)').text()
            input_custo.val(valor)
            status_proposta.text('Aceito')
            linha_nova_cotacao.hide()
          }

          elem.find('td > span ').attr("class", "")
          elem.find('span:contains(Aceito)').addClass("badge bg-success")
          elem.find('span:contains(Pendente)').addClass("badge bg-warning text-dark")
        })


        } 
      }
  })

  function validacao(){
      
    $("#alerta-proposta-incompleta").hide()
    var ha_erro = false

    $("input.input-custo").each(function(pos, caixa){
      if ($(this).val() <= 0) {
        $(this).closest('.card').addClass("border-danger")
        ha_erro = true
      }else 
        $(this).closest('.card').removeClass("border-danger")
    })

    if (ha_erro){
      $("#alerta-proposta-incompleta").show()
      return false
    }else{
      return true
    }

  }

  document.addEventListener('DOMContentLoaded', () => {
    const form = document.querySelector('form')
    form.addEventListener('submit', event => {
      // submit event detected
      event.preventDefault()
     if(validacao()){

       $("form").submit()
     }  

    })
  })
</script>

 {% endblock %}