{% extends 'appCotacao/base.html' %}
{% comment %} {% block ativarangular %}ng-app="app"{% endblock %} {% endcomment %}
{% block content %}

<style>
  .ng-hide:not(.ng-hide-animate) {
    /* These are just alternative ways of hiding an element */
    display: block!important;
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
</style>
{% comment %} <div class="col-sm-9 col-md-8 col-lg-6"> {% endcomment %}
<div id="alerta-proposta-incompleta" class="alert alert-danger" role="alert" style="display:none">
  Favor responder as proposta!
</div>
<div id="dados">
  dsajdkasd
  <span id="usuario">{{ user.fornecedor }}</span>
  asdhasdash
  <span id="perfil">{% if user.fornecedor %}fornecedor{%else%}super{%endif%}</span>
</div>
<form action="" method="post">
  {% csrf_token %}
  <h1>{{ estrutura_list.0.projeto.nome }}
    <input class="btn btn-info" type="submit" value="Submit" id="methodForm">
  </h1>
    {% for estrutura in estrutura_list %}
      <div class="card" etapa={{estrutura.status}} ang-cotacao-produto>
        <div class="card-header">
          {{ estrutura.produto.descricao }} -
          <span id='status-card' class="badge text-bg-danger">{{ estrutura.get_status_display }}</span>
        </div>
        <h1> oi {{estrutura.teste}} </h1>
        <div class="card-body">
          <input type="hidden" name="resposta-{{estrutura.id}}" value="PENDENTE" class="status-input">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Lance</th>
                <th scope="col">Dono Proposta</th>
                <th scope="col">Preço</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>

              {% for lance in estrutura.lances.all %}
                  <tr >
                    <td>{{ lance.lance }} : {{lance.podeeditar}}</td>
                    <td> {% if user == lance.dono %}Eu{% else %}{{ lance.dono.first_name }}{% endif %}</td>
                    <td>{{ lance.preco }}</td>
                    <td>{{ lance.get_status_display }}</td>
                  </tr>
              {% endfor %}
              
              

              <tr id="novo-lance" >
                <td>Novo</td>
                <td>Eu</td>
                <td>
                  <div id="entrada" class="input-group input-group-sm col-sm-10" style="width: 100px;">
                    <span class="input-group-text">$</span>
                    <input type="text" name="resposta-{{estrutura.id}}" class="form-control input-custo" pattern="^([0-9]+)(,[0-9]{1,2})?$"/>
                  </div>
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>

          <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio-{{estrutura.id}}" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="btnradio-{{estrutura.id}}">Aceitar</label>
          
            <input type="radio" class="btn-check" name="btnradio" id="btnradio2-{{estrutura.id}}" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio2-{{estrutura.id}}">Recusar</label>
          </div> 
        
        </div>

        <div id="resposta" class="card-footer bg-transparent"  style="display:none;">
          <span>Você aceitou a resposta</span>
          <button type="button" class="btn btn-link">Desfazer</button>
        </div>

      </div>
      
      <br >
    {% endfor %}
  </form>

  <script>
{% comment %} 
let perfil = $('#perfil').text();

function ocultarBtnsResposta(elem){
  elem.find("#btn-resposta").hide()
}

function ocultarLinhaLance(elem){
  elem.find("#novo-lance").hide()
}

function semAcao(elem){
  ocultarBtnsResposta(elem)
  ocultarLinhaLance(elem)
}

function emCotacao(elem){
  let ultLance = elem.find('tr:eq(-2)>td:eq(1)').text()
  console.log(ultLance)
  if (ultLance == 'Eu'){
    ocultarLinhaLance(elem)
    ocultarBtnsResposta(elem)
  }else{
    ocultarLinhaLance(elem)

  }

}

angular.module('app', [])
.directive('angCotacaoProduto', function(){
  return {
    scope: {
      
    },
    link: function(scope, elem, attr){
        scope.myValue = {}
        function setup(){
          
          btn_aceitar_recusar = false
          switch (attr.etapa){
            case ETAPA_ESTRUTURA_START:
              // aparecer o lance direto
              ocultarBtnsResposta(elem)
            break;
            case  ETAPA_ESTRUTURA_COTACAO:
            // aparecer os botoes de recusar ou aceita
              emCotacao(elem)
            break;
            case ETAPA_ESTRUTURA_FINALIZADA:
              semAcao(elem)
            break;
            case ETAPA_ESTRUTURA_NAO_PODE_LANCE:
              semAcao(elem)
            break;
            case ETAPA_ESTRUTURA_FINALIZADO_SEM_ACORDO:
              semAcao(elem)
            break;
          }
          
          //elem.find('.btn-resposta').attr('vis', btn_aceitar_recusar)
    
        }
        
        setup();
      } 
    }
}) {% endcomment %}
/*
    const STATUS_INICIAL = 'INICIAL'
    const STATUS_RECUSADO = 'RECUSADO'
    const STATUS_ACEITO = 'ACEITO'

    function recusar_proposta(card_produto, acao) {
      let tabela = card_produto.find('table')
      card_produto.find('.btn-resposta').hide()
      card_produto.find('#resposta').show()
      card_produto.removeClass("border-danger")
      tabela.find('tr:eq(-2) > td:last').text('Recusado')
      if (acao == 'recusar'){
        card_produto.find('#resposta > span').text('Voce recusou a proposta')
        card_produto.find(".status-input").val("RECUSADO")
        card_produto.find('#novo-lance').show()
        card_produto.find(".input-custo").prop('required',true)
      }else{
        card_produto.find(".status-input").val("DECLINAR")
        card_produto.find('#resposta > span').text('Voce declinou a proposta, não será possivel fazer uma contra proposta')
      }

    }
    
    function aceitar_proposta(card_produto) {
      let tabela = card_produto.find('table')
      tabela.find('tr:eq(-2) > td:last').text('Aceito')
      card_produto.find('.btn-resposta').hide()
      card_produto.find('#resposta > span').text('Você aceitou a proposta')
      card_produto.find('#resposta').show()
      card_produto.removeClass("border-danger")
      card_produto.find(".status-input").val("ACEITO")
    }
    
    function desfazer_proposta(card_produto) {
      let tabela = card_produto.find('table')
      let resposta = tabela.find('tr:eq(-2) > td:last').text()
      tabela.find('tr:eq(-2) > td:last').text('Pendente')
      card_produto.find('#resposta').hide()
      if (resposta == 'Recusado') {
        tabela.find('tr:last').hide()
      }
    
      card_produto.find('.btn-resposta').show()
      card_produto.addClass("border-danger")
      card_produto.find(".status-input").val("PENDENTE")
      card_produto.find(".input-custo").prop('required',false)
    }

    function validacao(){
      
      $("#alerta-proposta-incompleta").hide()
      var ha_erro = false

      $("input.status-input").each(function(pos, caixa){
        if ($(this).val() == 'PENDENTE') {
          $(this).closest('.card').addClass("border-danger")
          ha_erro = true
        }else 
          $(this).closest('.card').removeClass("border-danger")
      })

      if (ha_erro){
        $("#alerta-proposta-incompleta").show()
        return false
      }else{
        return true
      }

    }

    document.addEventListener('DOMContentLoaded', () => {
      const form = document.querySelector('form')
      form.addEventListener('submit', event => {
        // submit event detected
        event.preventDefault()
       if(validacao()){

         $("form").submit()
       }  

      })
    })

    function statusCard(card, status){
      switch (status){
        case STATUS_ACEITO:
        break
        case STATUS_INICIAL:
          card.find('#novo-lance').show()
          card.find('.btn-resposta').hide()
          // card.find('.status-input').val('INICIAL')
          card.removeClass('border-danger')
        break
        case STATUS_RECUSADO:
      }
    }
    
    function setup(){
      $('.card').each(function(index, data){
        var status = $(this).find('#status-card').text().toLowerCase()
        var finalizado =  (status == 'finalizado')
        var perfil = $('#perfil').text().toLowerCase()
        console.log(perfil)
        var dono_proposta = $(this).find('tbody > tr:nth-last-child(2) > td:nth-child(2)').text()
        if (finalizado || dono_proposta == "Eu"){
          if (finalizado){
            $(this).find('#status-card').removeClass('text-bg-danger')
            $(this).find('#status-card').addClass('text-bg-success')
          }
          $(this).removeClass('border-danger')
          $(this).find('input').remove()

        }else if (status == 'start'){
          statusCard($(this), STATUS_INICIAL)
        }else if(status == perfil){
            $(this).addClass('border-danger')
            $(this).find('.btn-resposta').show()
        }else if (status == 'nao pode mais dar lance'){
          $(this).addClass('border-danger')
          $(this).find('.btn-resposta').find('.btn-danger').text('Declinar')
          $(this).find('.btn-resposta').show()
        }

        if (status == 'finalizado sem acordo'){
          $(this).find('input').remove()
        }

      })
      
      if($('.status-input').length == 0){
        $('input').remove()
      }

    }

    $(document).ready(function () {
      setup()

      $('.input-custo').change(function(componente){
        let card = $(this).closest('.card')
        if (card.find('#status-card').text() == 'start') {
          if ($(this).val().length)
            card.find('.status-input').val('INICIAL')
          else
          card.find('.status-input').val('PENDENTE')
        }
       })
      

      $('button').click(function () {
        // let card_produto = $(this).parent().parent().parent().parent()
        let card_produto = $(this).closest('.card')
        let btn_act = $(this).text()
    
        if (btn_act == 'Aceitar') {
          aceitar_proposta(card_produto)
        } else if (btn_act == 'Recusar') {
          recusar_proposta(card_produto, 'recusar')
        } else if (btn_act == 'Desfazer') {
          desfazer_proposta(card_produto)
        } else if (btn_act == 'Declinar', 'declinar') {
          recusar_proposta(card_produto)
        }
      })
    }) */

  </script>
{% comment %} </div> {% endcomment %}
{% endblock %}