{% extends 'appCotacao/base.html' %}
{% load static %}
{% block ativarangular %}ng-app="app"{% endblock %}

{% block cabecalho %}

 <style>
  .custom-table {
    font-size: smaller;
  }

  .celula-preco:hover{
    /* background-color: yellowgreen !important; */
    cursor: pointer;
  }
  /*
  .celula-preco{
    background-color: yellow !important;
  }*/
</style>

{% endblock %}

{% block content %}


<!-- Modal -->
<div class="modal fade" id="formulario-contra" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" ang-windownewcusto>
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<h1 class="modal-title fs-5" id="exampleModalLabel">Contra Proposta</h1>
<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<div class="modal-body">

  <p> Proposta fornecedor <span id="proposta-fornecedor"></span></p> 

  <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
    <input type="radio" class="btn-check" name="btnradio" id="btnradioaceito" autocomplete="off"
    data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="true" 
    aria-controls="collapseExample" value="aceito" ng-model="decisao">
    <label class="btn btn-outline-primary" for="btnradioaceito">Aceitar</label>
  
    <input type="radio" class="btn-check " name="btnradio" id="btnradio2" autocomplete="off"  
    data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="true" 
    aria-controls="collapseExample" ng-model="decisao" value="recusado">

    <label class="btn btn-outline-danger" for="btnradio2">Recusar</label>
  </div>
  <br>

  <div class="collapse show" id="collapseExample">
    <div class="card card-body mt-2">
      <label for="nova-preoposta">Nova Proposta</label>
      <input type="number" ng-model="novopreco" id="nova-preoposta">
      
      <div class="form-check">
        <input class="form-check-input" type="checkbox" checked ng-model="maislance"/>
        <label class="form-check-label" for="pode-nova-proposta">
          Fornecedor pode enviar uma contraproposta
        </label>
      </div>
    </div>
  </div>


  <span id="estrutura"></span>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
<button type="button" class="btn btn-primary" id="btn-save-form" data-bs-dismiss="modal">Save changes</button>
</div>
</div>
</div>
</div>

<form action="" method="post">
  {% csrf_token %}
  <h2> {{projeto.nome}}<input class="btn btn-info mb-1" 
    type="submit" value="Submit" id="methodForm"></h2>


<div class="table-responsive-xxl">
<table class="table table-bordered table-sm">
  <thead>
    <tr>
      <th scope="col" >PRODUTO</th>
      {% for fornecedor in tabela.colunas %}
        <th scope="col"><a href="{% url 'cotacaoadm' projeto.id fornecedor.user_id %}">{{fornecedor.nomeempresa}}</a></th>
        {% comment %} <th scope="col"><a>{{fornecedor.nomeempresa}} - *{{object.id}}*- *{{fornecedor.user_id}}*</a></th> {% endcomment %}
      {% endfor %}
      <th scope="col">Ação Massa</th>
    </tr>

  </thead>
  <tbody>

    {% for linha in tabela.linhas %}
    <tr>
      <td>{{ linha.0 }}</td>
      {% for preco in linha.1 %}
        <td status={{preco.etapa}} class="preco" 
          proposta-fornecedor="{{preco.preco}}"
          id='proposta-{{preco.estrutura}}' ang-cel-preco>
          <span class="badge"></span>
          <span class="badge text-bg-secondary">{{preco.num_lances}}</span>
          <div id='preco-raw' class="text-right">R$ {{ preco.preco }}</div>
        </td>
      {% endfor %}
      <td>Incuit botão massivo</td>
    </tr>
    {% endfor %}
   
  </tbody>
</table>
</div>
</form>

<script>

function upStatusCelula(celula, status, bg){
  span_status = celula.find('span:eq(0)')
  span_status.text(status);
  span_status.removeClassStartingWith('text-bg');
  span_status.addClass('text-bg-'+bg);
}

angular.module('app', [])
.directive('angCelPreco', function(){
    return function (scope, elem, attr){
        switch (elem.attr('status')) {
            case ETAPA_ESTRUTURA_FINALIZADA:
                upStatusCelula(elem, 'ACORDO', 'success');
                break;
            case ETAPA_ESTRUTURA_ADMINISTRADOR:
                upStatusCelula(elem, 'PROPOSTA', 'warning');
                elem.attr('data-bs-target', '#formulario-contra');
                elem.attr('data-bs-toggle', 'modal');
                elem.addClass('celula-preco');
                elem.append(`<input type="text" name="${elem.attr('id')}">`)
                break;
            case ETAPA_ESTRUTURA_FORNECEDOR:
                upStatusCelula(elem, 'C.PROPOSTA', 'info');
                break;
            case ETAPA_ESTRUTURA_NAO_PODE_LANCE:
                upStatusCelula(elem, 'C.PROPOSTA', 'info');
                break;
            case ETAPA_ESTRUTURA_FINALIZADO_SEM_ACORDO:
                upStatusCelula(elem, 'S/ACORDO', 'light');
                break;
            case ETAPA_ESTRUTURA_START:
                upStatusCelula(elem, 'START', 'light');
                break;
        }


    }
})

.directive('angWindownewcusto', function(){
    return function(scope, elem, attr){
        scope.maislance = true
        scope.novopreco = 0
        scope.decisao = 'recusado'
        var cel;

        elem.on('show.bs.modal', function(event){
            const item = event.relatedTarget
            estrutura = item.id
            cel = $(item)
            $('#proposta-fornecedor').text(item.getAttribute('proposta-fornecedor'))
        })

        elem.find('#btn-save-form').on('click', function(){
            if (scope.decisao == 'aceito'){
                cel.find("input").val('ACEITO')
                upStatusCelula(cel, '****ACORDO', 'success')
            }else if(scope.decisao == 'recusado'){
                upStatusCelula(cel, '*C.PROPOSTA*', 'info')
                cel.find('#preco-raw').text(scope.novopreco.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}))
                cel.find("input").val(`RECUSADO:${scope.novopreco}:${scope.maislance}`)

            }
        })
    }
})
</script>
  {% endblock %}