{% extends 'appCotacao/base.html' %}
{% load static %}
{% block ativarangular %}ng-app="app"{% endblock %}

{% block cabecalho %}
<style>
  .custom-table {
    font-size: smaller;
  }

  .celula-preco:hover {
    cursor: pointer;
  }
</style>
{% endblock %}

{% block content %}
<form action="" method="post">
  {% csrf_token %}
  <h2> {{projeto.nome}}
    <input class="btn btn-success ms-2" type="submit" value="Salvar" id="methodForm">
    <a class="btn btn-secondary" href="{% url 'baixar' projeto.id %}" download> Download Document </a>
    <a class="btn btn-secondary" href="/admin/appCotacao/projeto/">Ir Home</a>
  </h2>

  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">PRODUTO</th>
          {% for fornecedor in tabela.fornecedor %}
          <th scope="col"><a href="{% url 'cotacaoadm' projeto.id fornecedor.id %}">{{fornecedor}}</a></th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for produto, cotacoes_produto in tabela.cotacoes.items %}
        <tr>
          <td>{{ produto }}</td>
          {% for cotacao in cotacoes_produto %}
          <td status="{{cotacao.status}}" class="preco" proposta-fornecedor="{{cotacao.preco}}" id='proposta-{{cotacao.estrutura}}' ang-cel-preco>
            <span class="badge"></span>
            <span class="badge text-bg-secondary">{{cotacao.num_lances}}</span>
            <span id='preco-raw' class="text-right">R$ {{cotacao.preco}}
              {% if cotacao.status == 1 %}
              <input type="number" step="0.01" name="proposta-{{cotacao.codigo}}" style="width: 60px" min="1" />
              {% endif %}
            </span>
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</form>

<script>
  function upStatusCelula(celula, status, bg) {
    const span_status = celula.find('span:eq(0)');
    span_status.text(status);
    span_status.removeClassStartingWith('text-bg');
    span_status.addClass('text-bg-' + bg);
  }

  angular.module('app', [])
    .directive('angCelPreco', function () {
      return function (scope, elem, attr) {
        const statusMap = {
          "0": { text: 'START', bg: 'light' },
          "AGUARDANDO": { text: 'FORNECEDOR', bg: 'info' },
          "FAZER_OU_ACEITAR": { text: 'COTAR', bg: 'primary' },
          "FINALIZADO_SUCESSO": { text: 'ACORDO', bg: 'success' },
          "FINALIZDO_SEM_SUCESSO": { text: 'S/ACORDO', bg: 'warning' }
        };

        const status = statusMap[elem.attr('status')];
        if (status) {
          upStatusCelula(elem, status.text, status.bg);
        }
      };
    });
</script>
{% endblock %}